name: publish site
on: # 在什么时候触发工作流
  push: # 在从本地main分支被push到GitHub仓库时
    branches:
      - master
      - main
  pull_request: # 在main分支合并别人提的pr时
    branches:
      - main
permissions:
  contents: write
jobs: # 工作流的具体内容
  deploy:
    runs-on: ubuntu-latest # 创建一个新的云端虚拟机 使用最新Ubuntu系统
    steps:
      - uses: actions/checkout@v3 # 先checkout到main分支
        with:
          fetch-depth: 0 # 获取所有标签和分支的所有历史记录
      - uses: actions/setup-python@v4 # 再安装Python3和相关环境
        with:
          python-version: 3.x
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV
      - uses: actions/cache@v3
        with:
            key: mkdocs-material-${{ env.cache_id }}
            path: .cache
            restore-keys: |
              mkdocs-material-
      - run: pip install mkdocs-material # 使用pip包管理工具安装mkdocs-material
      - run: pip install mkdocs-glightbox # 安装图像缩放工具
      - run: pip install mkdocs-git-revision-date-localized-plugin # 获取github文档时间
      - run: pip install mkdocs-git-authors-plugin # 获取github作者
      - run: pip install mkdocs-meta-manager # 文件元数据管理器
      - run: mkdocs gh-deploy --force # 使用mkdocs-material部署gh-pages分支
